
.display{
    //	margin-top: 3%;
    //	margin-left: 10%;
    //	margin-right: 10%;

    color:green; font-family:'Roboto';
    background:#616161;
    font-size:1.5em;line-height:138px;padding:0 20px;text-align:left;

}